<div class="user-data-container">
    <form name="userCtrl.userForm" class="user-data-form">
        <div class="user-data-child">
            <label>First Name</label>
            <input name="first_name" ng-required="true" 
                ng-model="userCtrl.userData.first_name"
                placeholder="Enter first name"/>
        </div>
        <div class="user-data-child">
            <label>Last Name</label>
            <input name="last_name" ng-required="true" 
                ng-model="userCtrl.userData.last_name"
                placeholder="Enter last name"/>
        </div>
    </form>
</div>
